button:disabled {
	opacity:0.4;
}

button {
	background-color:#c8c5b6;
	opacity:1.0;
}

#tooltipHeader {
	height:3em;
	width:100%;
	margin:0px;
	line-height:3em;
}

#tooltip {
	width:25%;
	position:absolute;
	background-color:#999966;
	color:#ffffff;
}

#tooltip ul {
	margin:1em 0em 1em 0em;
}

#tooltipFloat {
	height:28px;
	width:80%;
	margin:0em 10% 1em 10%;
	line-height:28px;
}

.tooltipFloatBG {
	z-index:1;
	background-color:red;
	position:relative;
	width:0px;
}

#tooltipFloat table tbody tr td text {
	z-index:5;
	position:relative;
}

#tooltipFloatDivider {
	width:1px;
	border:1px solid blue;
	z-index:6;
	position:relative;
}

#tooltipFloat table {
	width:100%;
	height:100%;
	z-index:0;
	border:2px solid black;
}

#tooltipFloat table tbody tr td {
	background-color:#00b33c;
	text-align:center;
	color:black;
	border:1px solid black;
}

#header td {
	border:5px solid black;
	background-color:#00b300;
	text-align:center;
	font-size:20px;
}

#header td:hover {
	background-color:#00cc00;
}

#subHeader td:hover {
	background-color:#00b300;
}

#subHeader td{
	border-top-width:0px;
}

#main_container {
	width:100%;
	min-height:90%;
	padding:0;
	margin:0;
	background-color:#ccccb3;
}

.inventoryST {
	position:relative;
	width:50px;
	height:50px;
	margin-right:-50px;
	margin-bottom:-50px;
	left:-50px;
}

.caseST {
	position:absolute;
	width:50%;
	height:50%;
	left:45%;
	top:45%;
}

#inventory table:first-child {
	background-color:#e1e1d0;
	margin:auto;
	margin-top:5%;
}

#inventory table:last-child {
	margin:auto;
	margin-bottom:5%;
	height:50px;
	width:512px;
}

#inventory table:first-child td {
	border: 2px solid black;
	font-size:10px;
	text-align:center;
	margin-right:-50px;
	position:relative;
}

#inventory table:first-child img:first-child {
	width:100px;
	height:100px;
	position:relative;
}

.invbg {
	height:25px;
	width:100px;
}

#caseRollDisplay {
	z-index:1;
}

#unlockCaseButton {
	background:linear-gradient(#33cc33, #248f24);
	font-size:1.3em;
	width:100%;
	height:100%;
	border:2px solid black;
}

#unlockCaseButton:hover {
	background:linear-gradient(#5cd65c, #33cc33);
}

.custom-menu {
    display:none;
    z-index:1000;
    position:absolute;
    overflow:hidden;
    border:1px solid #CCC;
    white-space:nowrap;
    font-family:sans-serif;
    background:#FFF;
    color:#333;
    border-radius:5px;
    padding:0;
}

.custom-menu li {
    padding:8px 12px;
    cursor:pointer;
    list-style-type:none;
    transition:all .3s ease;
}

.custom-menu li:hover {
    background-color:#DEF;
}

#shop table:first-child {
	background-color:#e1e1d0;
	margin:auto;
	margin-top:5%;
}

#shop table:last-child {
	margin:auto;
	margin-bottom:5%;
	height:50px;
	width:425px;
}

#shop table:first-child td {
	border:2px solid black;
	font-size:10px;
	text-align:center;
	position:relative;
	width:85px;
	height:85px;
}

#shop table:first-child .shopb {
	border-top-style:none;
	height:40px;
}

#shop table:first-child img {
	width:85px;
	height:85px;
}

#shop tr:nth-child(odd) td {
	width:87px;
	height:103px;
	position:relative;
	border-bottom-style:none;
}

#shop .shopb button {
	width:80%;
	height:80%;
	margin:auto;
}

#shop text {
	position:relative;
	font-size:15px;
	width:20px;
	height:20px;
	bottom:-6px;
	z-index:5;
}